header {
    font-family: Georgia, 'Arial';
    color: brown;
    background-color: aquamarine;
    border: 1px solid gold;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.a1{
    font-size: 30px;
    text-align: center;
}

.a2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

#first-section{
    border: 1px solid pink;
}

.nav-list{
    width: 20%;
}

